# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.la
*.lo
*.a
*.Plo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
heresyrl

#packages
heresyrl-*.tar.gz

# http://www.gnu.org/software/automake

Makefile.in
config.h.in

# http://www.gnu.org/software/autoconf

autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
stamp-h1
Makefile
*.status
*.sub
*.guess
libtool
ltmain.sh
.deps
perf.data.old

*.log

#build/
#m4/
.dirstamp
perf.data

# Editor files
.*.swp

#Generated source files
config.h
config.h.in~
